<div class="container" >
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Please Sign In</h3>
      </div>
      <div class="panel-body">
        <form (ngSubmit)="login()">
          <fieldset>
            <div class="form-group">
              <input [(ngModel)]="user.email" id="email"
                     type="text" class="form-control" placeholder="E-mail" name="email">
            </div>
            <div class="form-group">
              <input [(ngModel)]="user.password" id="password"
                     type="text" class="form-control" placeholder="Password" name="password">
            </div>
          </fieldset>

          <span>{{errorMsg}}</span>
          <div class="form-group">
            <button id="btn-login" type="submit" class="btn btn-lg btn-success btn-block" (ngSubmit)="login()">Login</button>
          </div>
        </form>
        <div class="form-group">
          <div class="col-md-12 control">
            Don't have an account ? <a (click)="signup()" >Sign Up Here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
