<div class="col-md-3">
    <a (click)="auth()">
        <img width="50" height="40" class="img-responsive" src="./assets/gmail.png"/>
        Gmail</a>
    <button class="btn btn-primary" data-toggle="modal" data-target="#addAction">Add Action</button>
    <button class="btn btn-primary" data-toggle="modal" data-target="#addListener">Add Listener</button>
</div>

<div id="addAction" class="modal fade" role="dialog" style="color: black;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <input [(ngModel)]="GmailAction.name" id="name" type="text" class="form-control" placeholder="name" name="name">
                <input [(ngModel)]="GmailAction.body" id="body" type="text" class="form-control" placeholder="body" name="body">
                <input [(ngModel)]="GmailAction.subject" id="subject" type="text" class="form-control" placeholder="subject" name="subject">
                <input [(ngModel)]="GmailAction.destination" id="destinationAddress" type="text" class="form-control" placeholder="destinationAddress" name="destination">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addAction()">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="addListener" class="modal fade" role="dialog" style="color: black;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <input [(ngModel)]="GmailListener.name" id="nameList" type="text" class="form-control" placeholder="name" name="nameList">
                <input [(ngModel)]="GmailListener.labelName" id="labelName" type="text" class="form-control" placeholder="label" name="labelName">
                <input [(ngModel)]="GmailListener.topicName" id="topicName" type="text" class="form-control" placeholder="topic" name="topicName">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addListener()">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>