<div class="container" >
    <div class="content center_div">
        <span>Congratulations, you have successfully logged in!!</span>
        <br />
        <div class="row center_div">
            <gmail></gmail>
            <div class="col-md-2">
                <a (click)="twitter()">
                    <img width="50" height="40" class="img-responsive" src="./assets/twitter.png"/>
                    Twitter</a>
            </div>
            <div class="col-md-2">
                <a (click)="spotify()">
                    <img width="50" height="40" class="img-responsive" src="./assets/spotify.png"/>
                    Spotify</a>
            </div>
            <youtube></youtube>
            <dropbox></dropbox>
        </div>
        <action></action>
        <a (click)="logout()">Click Here to logout</a>
    </div>
</div>