<div class="col-md-3">
    <a (click)="auth()">
        <img width="50" height="40" class="img-responsive" src="./assets/youtube.png"/>
        Youtube</a>
    <button class="btn btn-primary" data-toggle="modal" data-target="#addActionYoutube">Add Action</button>
    <button class="btn btn-primary" data-toggle="modal" data-target="#addListenerYoutube">Add Listener</button>
</div>

<div id="addActionYoutube" class="modal fade" role="dialog" style="color: black;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <input [(ngModel)]="Action.name" id="name" type="text" class="form-control" placeholder="name" name="name">
                <input [(ngModel)]="Action.idVideo" id="idVideo" type="text" class="form-control" placeholder="name" name="idVideo">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addAction()">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="addListenerYoutube" class="modal fade" role="dialog" style="color: black;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <input [(ngModel)]="Listener.name" id="nameList" type="text" class="form-control" placeholder="name" name="nameList">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addListener()">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>