<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title>AREA</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- inject:css -->
  <!-- endinject -->
</head>

<body>
<my-app>Loading AppComponent content here ...</my-app>
</body>

<script>
    // Fixes undefined module function in SystemJS bundle
    function module() {}
</script>

<!-- shims:js -->
<!-- endinject -->

<% if (BUILD_TYPE === 'dev') { %>
<script src="<%= APP_BASE %>app/system-config.js"></script>
<% } %>

<!-- libs:js -->
<!-- endinject -->

<!-- inject:js -->
<!-- endinject -->

<% if (BUILD_TYPE === 'dev') { %>
<script>
    System.import('<%= BOOTSTRAP_MODULE %>')
        .catch(function (e) {
            console.error(e.stack || e,
                'Not expecting this error? Report it at https://github.com/mgechev/angular-seed/issues');
        });
</script>
<% } %>

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</html>
