<div class="container" >
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Sign Up</div>
      </div>
      <div class="panel-body">
        <form (ngSubmit)="signup()">
          <div class="form-group">
            <input [(ngModel)]="user.email" id="email"
                   type="text" class="form-control" placeholder="E-mail" name="email">
          </div>
          <div class="form-group">
            <input [(ngModel)]="user.password" id="password"
                   type="text" class="form-control" placeholder="Password" name="password">
          </div>

          <div class="form-group">
            <!-- Button -->
            <div class="col-md-offset-3 col-md-9">
              <button id="btn-signup" type="submit" class="btn btn-info" (ngSubmit)="signup()">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
