<div>
    <h3>Listener list</h3>
    <div *ngFor="let a of listenerList">
        <div class="action panel-primary">
            <div class="panel-heading">
                <a class="glyphicon glyphicon-remove" (click)="delete(a.id)" style="color: #e74c3c">Delete</a>
                {{a.name}}
                <addLink [parentAction]="a"></addLink>
            </div>
            <div class="links panel-body">
                <div  *ngFor="let l of a.links">
                    <a class="glyphicon glyphicon-remove" (click)="deleteLink(l.id)" style="color: #e74c3c"></a>
                    {{l.name}}</div>
            </div>
        </div>
    </div>
</div>
