<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addLink">Add Link</button>

<!-- Modal -->
<div id="addLink" class="modal fade" role="dialog" style="color: black;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div *ngFor="let link of linksList" class="row">
                    <div class="col-md-8">{{link.name}}</div>
                    <button type="button" class="btn btn-success btn-md" (click)="add(link.id)">Add</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>